@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    min-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    cursor: pointer;
}

.calculator {
    height: 700px;
    width: 450px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.display {
    box-sizing: border-box;
    flex: 1 0 25%;
    border-radius: 30px 30px 0 0;
    background-color: #323232;
    box-shadow: inset 4px 4px 7px #ffffff77, inset -4px 0px 7px #00000077,
        10px 15px 30px #00000077;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 30px;
}

.display > p {
    color: #f2f2f2;
    font-family: "Share Tech Mono", monospace;
    margin: 0;
}

.currentNumber {
    font-size: 64px;
}

.fullExpression {
    font-size: 24px;
}

.btn-pad {
    flex: 1 0 75%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 0 0 30px 30px;
    background-color: #ffd000;
    box-shadow: inset 4px 0px 7px #ffffffcc, inset -4px -4px 7px #00000077,
        10px 15px 30px #00000077;
    padding: 10px 20px;
}

button {
    width: 55px;
    height: 55px;
    background-color: #f2f2f2;
    border-radius: 50%;
    border: none;
    box-shadow: inset 1px 1px 2px #ffffff77, inset -1px -1px 2px #00000077;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: auto;
}

#btn-1 {
    grid-column: 1;
    grid-row: 3;
}

#btn-2 {
    grid-column: 2;
    grid-row: 3;
}

#btn-3 {
    grid-column: 3;
    grid-row: 3;
}

#btn-4 {
    grid-column: 1;
    grid-row: 4;
}

#btn-5 {
    grid-column: 2;
    grid-row: 4;
}

#btn-6 {
    grid-column: 3;
    grid-row: 4;
}

#btn-7 {
    grid-column: 1;
    grid-row: 5;
}

#btn-8 {
    grid-column: 2;
    grid-row: 5;
}

#btn-9 {
    grid-column: 3;
    grid-row: 5;
}

#btn-0 {
    grid-column: 2;
    grid-row: 6;
}

#btn-equals {
    grid-column: 4;
    grid-row: 6;
    background-color: #202024;
    color: white;
}

#btn-plus {
    grid-column: 4;
    grid-row: 5;
}

#btn-minus {
    grid-column: 4;
    grid-row: 4;
}

#btn-multiply {
    grid-column: 4;
    grid-row: 3;
}

#btn-divide {
    grid-column: 4;
    grid-row: 2;
}

#btn-negativetoggle {
    grid-column: 1;
    grid-row: 6;
}

#btn-dot {
    grid-column: 3;
    grid-row: 6;
}

#btn-decimal {
    grid-column: 3;
    grid-row: 6;
}
